:root {
    --tamanho-main: calc(100vh - 450px);
}

body {
    background-color: #eee;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px var(--tamanho-main) 300px 50px;
    grid-template-areas: 
        "cabecalho cabecalho"
        "m nav"
        "m aside"
        "banana banana"
    ;
}

header {
    background-color: lightcoral;
    /* grid-column-start: 1;
    grid-column-end: 3; */
    grid-area: nav;
}

nav {
    background-color: lightskyblue;
    /* grid-column: 2/3;
    grid-row: 2/3; */
    grid-area: cabecalho;
}

aside {
    background-color: lightgreen;
    /* grid-column: 2/3;
    grid-row: 3/4; */
    grid-area: aside;
}

main {
    background-color: lightgoldenrodyellow;
    /* grid-column: 1/2;
    grid-row: 2/4; */
    grid-area: m;
}

footer {
    background-color: lightsalmon;
    /* grid-column: 1/-1; */
    grid-area: banana;
}